
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Sevillana&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(11, 10, 10);
    color:white;
}
.prsnl-info {
    display: flex;
    flex-direction: row;
}
.logo-UWS{
    display: flex;
}
#logo{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    padding: 0 3px;
    margin-right: 5px;
    margin-top: 2px;
}
.UWS{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 3vh 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.UWS-heading{
    border-left: 1px rgb(255, 255, 255) solid;
    padding: 0 5px;
}
.home-setting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
    margin-right: 15px;
}
.home , .setting{
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.UWS-heading h3{
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.7px;
}
#pfp{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-top: 1vh;
}
.name{
    display: flex;
    justify-content: start;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 2vw;
}
.id{
    display: flex;
    justify-content: end;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profile-details , .role , .phn-no , .email{
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
}
.role , .phn-no , .email{
    /* width: 20vw; */
    /* margin: 1vh 0; */
    font-weight: 500;
    /* width: 34%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.profile-details > h3 , .resources > h3{
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-left: 4px orangered solid;
    padding: 3px;
}

.profile-details{
    width: 100%;
    /* height: 40%; */
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 15px;
}
.info{
    width: 100%;
    height: auto;
}
.prsnl-info{
    padding: 0 4vw;
}
.role-phn-email{
    display: flex;

}

.workshop-info{
    display: flex;
    padding: 2vh 4vw;
    color: white;
    justify-content: space-between;
}
.attendance , .attendent , .left{
    display: flex;
    width: 30%;
    /* height: 4vh; */
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    padding: 10px 15px;
    /* font-size: 5px; */
    font-weight: 200;
    gap: 0.8vw;
}
#attendance{
    color: green;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.same{
    margin: auto 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 10px;
}

.resources{
    background-color: white;
    color: #000;
    border-radius: 10px;
    margin-top:10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.resource-container{
    display: flex;
    justify-content: space-evenly;
}

.academic , .upload, .archieves{
    width: 30%;
    background-color: rgb(9, 9, 9);
    color: rgb(220, 172, 12);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}
.academic-container , .upload-container{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr ;
    padding: 10px;
    /* grid-gap: 3rem; */
}
.academic-container div , .upload-container div{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: white;
    justify-content: center;
    align-items: center;
}
.upload-container div p{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin: 4px;
    font-weight: 900;
    width: 50%;
    text-align: center;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media only screen and (max-width:600px) {
    .container{
        width: 100%;
    }
    .academic-container , .upload-container{
        overflow:scroll;
        scrollbar-width: none;
        grid-gap: 2rem;
    }
    .resource-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 3px;
    }
    .academic , .upload , .archieves{
        width: 100%;
        margin: 3px;
        /* height: ; */
    }
    .UWS-heading{
    font-size: 2vw;
    margin: auto;
    }
    .UWS-heading h3{
        letter-spacing: 1px;
    }
    .home-setting{
        margin: auto;
    }
    .prsnl-info , .info , .workshop-info , .role-phn-email{
        display: flex;
        flex-direction: column;
    }
    .attendance , .attendent , .left{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 3px;
    }
}

@media only screen and (max-width:900px) and (min-width:600px) {
    .container{
        width: 90%;
    }
    .academic-container , .upload-container{
        overflow:scroll;
        scrollbar-width: none;
        grid-gap: 2rem;
    }
    .resource-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 3px;
        justify-content: center;
    }

    .academic , .upload , .archieves{
        width: 50%;
        /* margin: 3px; */
        margin: 3px auto;
        /* height: ; */
    }
    
}

@media only screen and (min-width:900px) and (max-width:1300px) {
    .container{
        width: 90%;
    }
    .academic-container , .upload-container{
        overflow:scroll;
        scrollbar-width: none;
        grid-gap: 2rem;
    }
    
}